<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Easy viewing of Twilio account, subaccounts, and related resources.">
    <title>Twilio Viewer</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <style>
        table {
            font-size: .85rem;
        }
    </style>
</head>

<body>
    <main id="app" class="d-flex flex-nowrap">
        <section class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark vh-100" style="width: 240px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-4">Twilio Viewer</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <router-link to="/" class="nav-link text-white"><i class="bi bi-key me-2"></i>
                        Auth</router-link>
                </li>
                <li>
                    <router-link to="/phone-numbers" class="nav-link text-white"><i class="bi bi-telephone me-2"></i>
                        Phone numbers</router-link>
                </li>
                <li>
                    <router-link to="/messaging-logs" class="nav-link text-white"><i class="bi bi-chat-dots me-2"></i>
                        Messaging logs</router-link>
                </li>
                <li>
                    <router-link to="/voice-call-logs" class="nav-link text-white"><i class="bi bi-mic me-2"></i>
                        Voice call logs</router-link>
                </li>
            </ul>
        </section>

        <section class="flex-grow-1 p-3">
            <router-view></router-view>
        </section>
    </main>

    <template id="auth">
        <h1>Auth</h1>
        <hr>
        <div v-if="loading" class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div v-else>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#" class="nav-link" :class="{ active: newTabActive }"
                        @click.stop.prevent="tabSwitch('new')">New</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" :class="{ active: savedTabActive }"
                        @click.stop.prevent="tabSwitch('saved')">Saved</a>
                </li>
            </ul>
            <div v-if="newTabActive" class="mt-3">
                <form @submit.prevent="connect">
                    <div class="mb-3">
                        <label for="account-sid" class="form-label">Account SID</label>
                        <input type="text" class="form-control" id="account-sid" name="account-sid"
                            placeholder="Enter account SID" required v-model="form.account_sid">
                    </div>
                    <div class="mb-3">
                        <label for="auth-token" class="form-label">Auth Token</label>
                        <input type="password" class="form-control" id="auth-token" name="auth-token"
                            placeholder="Enter auth token" required v-model="form.auth_token">
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <button type="submit" class="btn btn-primary me-2">Connect</button>
                        <span v-if="processing" class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">processing...</span>
                        </span>
                    </div>
                </form>
                <div v-if="connect_result.account_info">
                    <hr>
                    <h2>Account information</h2>
                    <table class="table table-bordered">
                        <tbody>
                            <tr v-for="item in connect_result.account_info">
                                <th>{{item.label}}</th>
                                <td>{{item.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <h3>Save connection</h3>
                    <form @submit.prevent="saveConnection">
                        <div class="row mb-3">
                            <label for="connection-name" class="col-sm-2 col-form-label">Connection name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="connection-name"
                                    placeholder="Enter connection name" required v-model="form.connection_name">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
                <div v-else-if="connect_result.error" class="alert alert-danger" role="alert">
                    {{connect_result.error}}
                </div>
            </div>
            <div v-else-if="savedTabActive" class="mt-3">
                <div v-if="!saved_connections?.length">
                    <div class="p-3 text-center">
                        There are no records available.
                    </div>
                </div>
                <div v-else>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Account SID</th>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="connection in saved_connections">
                                <td>{{connection.account_sid}}</td>
                                <td>{{connection.name}}</td>
                                <td class="text-center">
                                    <span v-if="connection.in_use" title="Currently using this account.">
                                        <i class="bi bi-check-lg fs-5 text-success"></i>
                                    </span>
                                    <span v-else>
                                        <a href="#" @click.prevent.stop="switchConnection(connection.account_sid)"
                                            title="Switch to this account.">Use</a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </template>

    <template id="phone-numbers">
        <h1>Phone numbers
            <button class="btn btn-lg btn-light" @click.prevent.stop="refreshPhoneNumbers('reload')"><i
                    class="bi bi-arrow-repeat"></i></button>
        </h1>
        <hr>
        <div v-if="loading" class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div v-else-if="error">
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        </div>
        <div v-else-if="!records?.length">
            <div class="p-3 text-center">
                There are no records available.
            </div>
        </div>
        <div v-else>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>SID</th>
                        <th>Phone number</th>
                        <th>Capabilities</th>
                        <th>Webhook URLs</th>
                        <th>Status</th>
                        <th>Date created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="r in records">
                        <td>{{r.sid}}</td>
                        <td>{{r.phone_number}}</td>
                        <td>
                            <div v-for="c in capabilities(r.capabilities)">
                                {{c.label}}: {{c.value}}
                            </div>
                        <td>
                            <div v-for="url in urls(r)"
                                style="max-width: 24rem; text-overflow: ellipsis; overflow: hidden;">
                                {{url.label}}: {{url.value}}
                            </div>
                        </td>
                        <td>{{r.status}}</td>
                        <td>{{r.date_created}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </template>

    <template id="messaging-logs">
        <div>Messaging logs</div>
    </template>

    <template id="voice-call-logs">
        <div>Voice call logs</div>
    </template>

    <script type="importmap">
        { "imports": {
            "vue":        "https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.esm-browser.js",
            "@vue/devtools-api": "https://cdn.jsdelivr.net/npm/@vue/devtools-api@6.5.0/lib/esm/index.min.js",
            "vue-router": "https://cdn.jsdelivr.net/npm/vue-router@4.1.6/dist/vue-router.esm-browser.js"
        } }
    </script>

    <script>
    </script>

    <script src="https://cdn.jsdelivr.net/npm/dexie@3.2.3/dist/dexie.min.js"></script>

    <script type="module">
        import { createApp, reactive } from "vue";
        import { createRouter, createWebHistory } from "vue-router";

        const db = new Dexie("twilio-viewer-db");

        // db schema
        db.version(1).stores({
            connections: `account_sid,name`,
        });

        // a basic store for shared data
        const store = {
            account_sid: "",
            auth_token: "",
        };

        // converts an object to array of label value pair
        function toLabelValArray(object, keys) {
            const result = [];

            for (let i = 0; i < keys?.length; i++) {
                const key = keys[i];

                result.push({ label: key, value: object[key] });
            }

            return result;
        }

        // calls given Twilio API path
        // when credentials are not passed, reads it from the store
        async function callTwilioAPI({ path, method, body, authCredentials, cache }) {
            try {
                const resp = await fetch(`https://api.twilio.com/2010-04-01${path}`, {
                    method: method || "GET",
                    mode: "cors",
                    cache: cache || "force-cache",
                    credentials: "omit", // do not negotiate using browser popup based credential
                    headers: {
                        "Authorization": "Basic " + btoa((authCredentials?.account_sid || store.account_sid) + ":" + (authCredentials?.auth_token || store.auth_token)),
                    },
                    body,
                });

                if (resp.ok) {
                    return [null, (await resp.json())];
                } else {
                    return [`${resp.status} ${resp.statusText}`, null];
                }
            } catch (error) {
                return [error, null];
            }
        }

        // auth component
        const Auth = {
            template: "#auth",

            data() {
                return {
                    active_tab: "new",
                    loading: true,
                    processing: false,
                    form: {
                        account_sid: "",
                        auth_token: "",
                        connection_name: "",
                    },
                    saved_connections: [],
                    connect_result: {},
                };
            },

            async created() {
                this.loading = true;

                await this.refreshSavedConnections();

                if (this.saved_connections.length) {
                    this.active_tab = "saved";
                }

                this.loading = false;
            },

            computed: {
                newTabActive() {
                    return this.active_tab === "new";
                },

                savedTabActive() {
                    return this.active_tab === "saved";
                }
            },

            methods: {
                tabSwitch(newTab) {
                    this.active_tab = newTab;
                },

                async refreshSavedConnections() {
                    const connections = await db.connections.orderBy("name").toArray();

                    if (connections?.length) {
                        const connectionInUse = connections.find(x => x.in_use === true);
                        store.account_sid = connectionInUse.account_sid;
                        store.auth_token = connectionInUse.auth_token;
                    }

                    this.saved_connections = connections || [];
                },

                async dbResetInUse() {
                    await db.connections.toCollection().modify({ in_use: false });
                },

                resetFormData() {
                    this.form.account_sid = "";
                    this.form.auth_token = "";
                    this.form.connection_name = "";
                    this.connect_result = {};
                },

                async connect() {
                    this.processing = true;
                    this.connect_result = {};

                    const [error, result] = await callTwilioAPI({ path: `/Accounts/${this.form.account_sid}.json`, authCredentials: this.form, cache: "reload" });

                    if (error) {
                        this.connect_result.error = error;
                    }
                    else if (result.status) {
                        this.connect_result.account_info = toLabelValArray(result, ["friendly_name", "status", "date_created"]);
                        this.form.connection_name = result.friendly_name;
                        store.account_sid = this.form.account_sid;
                        store.auth_token = this.form.auth_token;
                    }

                    this.processing = false;
                },

                async saveConnection() {
                    // remove in_use from other records
                    await this.dbResetInUse();

                    // save connection
                    const connection = { account_sid: this.form.account_sid, auth_token: this.form.auth_token, name: this.form.connection_name, in_use: true, created_at: Date.now() };
                    await db.connections.put(connection, "account_sid");

                    // refresh connections locally
                    await this.refreshSavedConnections();

                    // switch to saved tab
                    this.active_tab = "saved";

                    // reset form
                    this.resetFormData();
                },

                async switchConnection(accountSid) {
                    // remove in_use from other records
                    await this.dbResetInUse();

                    // update in_use in the db for the selected connection
                    await db.connections.update(accountSid, { in_use: true });

                    // refresh connections locally
                    await this.refreshSavedConnections();
                }
            },
        };

        // phone numbers component
        const PhoneNumbers = {
            template: "#phone-numbers",

            data() {
                return {
                    loading: true,
                    error: "",
                    records: [],
                };
            },

            async created() {
                this.refreshPhoneNumbers();
            },

            methods: {
                async refreshPhoneNumbers(cache) {
                    this.loading = true;

                    const [error, result] = await callTwilioAPI({ path: `/Accounts/${store.account_sid}/IncomingPhoneNumbers.json`, cache: cache });

                    if (error) {
                        this.error = error;
                    } else {
                        this.records = result.incoming_phone_numbers;
                    }

                    this.loading = false;
                },

                urls(obj) {
                    return toLabelValArray(obj, ["sms_url", "sms_fallback_url", "voice_url", "voice_fallback_url", "status_callback"]);
                },

                capabilities(obj) {
                    return toLabelValArray(obj, ["sms", "mms", "voice"]);
                }
            },
        };

        // routing
        const router = createRouter({
            history: createWebHistory(),
            routes: [
                { path: "/", component: Auth },
                { path: "/phone-numbers", component: PhoneNumbers },
                { path: "/messaging-logs", component: { template: "#messaging-logs" } },
                { path: "/voice-call-logs", component: { template: "#voice-call-logs" } },
            ],
            linkActiveClass: "active",
            linkExactActiveClass: "active",
        })

        // creat vue app
        const app = createApp({});

        app.use(router);

        app.mount("#app");
    </script>
</body>